dash
dash-core-components
dash-html-components
dash-renderer
dash-table
pandas==1.4.2
plotly
dash_bootstrap_components
app
random
researchpy
scipy.stats
plotly.express
plotly.graph_objs
dash.dependencies
layouts
